html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: sf-bold;
  src: url("assets/font/SFPRODISPLAYBOLD.OTF.otf");
}
@font-face {
  font-family: sf-regular;
  src: url("assets/font/SFPRODISPLAYREGULAR.OTF.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 2rem auto;

  .logo {
    display: flex;
    align-items: center;
    transition: 0.2s ease;
    text-decoration: none;
    color: rgb(155, 155, 155);
    font-size: 1.2rem;
  }

  .menu__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a[info="beranda"] {
    text-decoration: none;
    margin: 0rem 2rem;
    padding: 0.5rem 1rem;
    background-color: red;
    color: white;
    border-radius: 0.5rem;
    transition: 0.2s ease;
    border: 2px solid red;
  }

  .masuk {
    text-decoration: none;
    padding: 0.5rem 2rem;
    border: 2px solid rgb(183, 182, 182);
    color: rgb(183, 182, 182);
    border-radius: 0.5rem;
    transition: 0.2s ease;
  }
}

nav .logo:hover {
  color: white;
}

a[info="beranda"]:hover {
  background-color: rgb(167, 2, 2);
  border: 2px solid rgb(167, 2, 2);
}

.masuk:hover {
  border: 2px solid rgb(208, 207, 207);
  color: rgb(208, 207, 207);
}

main {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;

  .header {
    height: 80vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      text-align: center;
      font-size: 5rem;
      margin-bottom: 0.5rem;
      color: rgb(192, 190, 190);
    }

    p {
      text-align: center;
      font-size: 1.2rem;
      color: rgb(151, 150, 150);
    }

    a[info="telusuri"] {
      text-decoration: none;
      margin: 2rem;
      padding: 1rem 2rem;
      background-color: rgb(27, 8, 237);
      color: white;
      border-radius: 3rem;
      transition: 1s ease;
    }
  }
}

main .header a[info="telusuri"]:hover {
  transform: translateY(-0.8rem);
}

main .container-artikel {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 310px);
  gap: 2rem;
  justify-content: center;
  width: 90%;
  color: white;

  .box {
    height: auto;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(128, 125, 125);
    border-radius: 2rem;
    transition: 1s ease;

    img {
      width: 95%;
      height: 50%;
      border-radius: 2rem 2rem 0 0;
      object-fit: cover;
    }

    h2 {
      font-size: 2rem;
      width: 75%;
      height: auto;
      margin: 2rem 0 1rem 0;
      color: #e8e5e5;
    }

    p {
      width: 75%;
      margin-bottom: 1rem;
      overflow: hidden;
      color: #929191;
    }

    a[info="selengkapnya"] {
      text-decoration: none;
      padding: 1rem 3.5rem;
      margin: 1rem 0 3rem 0;
      background-color: rgb(27, 8, 237);
      color: white;
      border-radius: 3rem;
      transition: 1s ease;
    }
  }
}

main .container-artikel .box:hover {
  border: 1px solid aliceblue;
}
