@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: aliceblue;
  font-family: Inter;
  background-color: #000;
}

.artikel-container {
  width: 70%;
  padding: 1rem;
  margin: 1rem auto;
}

.artikel-container h1 {
  margin-top: 2rem;
  font-size: 3rem;
  font-family: Inter;
}

.artikel-header .biodata-penulis {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.artikel-header img {
  border-radius: 1rem;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  margin-bottom: 3rem;
}

.artikel-header p {
  color: rgb(164, 162, 162);
}

.artikel-container .deskripsi {
  color: rgb(164, 162, 162);
  font-size: 1.2rem;
}

/* iPad */

@media (max-width: 1024px) {
  .artikel-container {
    width: 80%;
  }

  .artikel-header img {
    height: 30vh;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .artikel-container {
    width: 80%;
  }
}

@media only screen and (max-width: 468px) {
  html {
    font-size: 90%;
  }

  .artikel-container {
    width: 90%;
  }

  .artikel-container h1 {
    line-height: 1;
    margin-bottom: 1rem;
  }

  .artikel-header img {
    height: 30vh;
  }
}
