@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

body {
  font-family: Inter;
  background-image: url("../../assets/images/hutan-tropis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 2rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.button__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.container a[href="daftar.php"] {
  text-decoration: none;
}

.container a[href="../artikel.php"] {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: black;
  border-radius: 0.5rem;
  color: aliceblue;
  font-size: 12px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

/* ipad Pro */
@media (max-width: 1024px) {
  body {
    background-image: url("../../assets/images/hutan-tropis.jpg");
    height: calc(100vh - 10rem);
    background-size: cover;
  }

  .container {
    margin-top: 10rem;
    max-width: 500px;
  }
}

/* iPad Mini */
@media (max-width: 768px) {
  body {
    background-image: url("../../assets/images/hutan-tropis.jpg");
    height: calc(100vh - 10rem);
    background-size: cover;
  }

  .container {
    margin-top: 10rem;
  }
}

@media only screen and (max-width: 468px) {
  html {
    font-size: 90%;
  }

  body {
    background-image: url("../../assets/images/hutan-tropis.jpg");
    height: calc(100vh - 10rem);
    background-size: cover;
  }

  .container {
    margin-top: 10rem;
    max-width: 300px;
  }
}
