@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

body {
  font-family: Inter;
  margin: 0;
  padding: 0;
  background-image: url("../../assets/images/hutan-tropis.jpg");
  background-size: cover;
}

h2 {
  text-align: center;
  margin: 2rem 0;
}

.form-table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow-x: auto;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 1rem;
  background-color: rgb(236, 236, 236);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem 0;
  text-align: left;
  border-bottom: 1px solid #717171;
  vertical-align: top;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}

textarea,
input[type="text"],
input[type="date"],
input[type="file"] {
  width: calc(100% - 12px); /* Lebar input 100% dikurangi padding */
  padding: 1rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

textarea {
  height: 100px;
  resize: vertical; /* Pengguna bisa mengubah tinggi textarea */
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 0.5rem;
}

button:hover {
  background-color: #45a049;
}

/* Media query untuk tampilan mobile */
@media (max-width: 600px) {
  table {
    font-size: 14px; /* Ukuran font lebih kecil */
  }

  th,
  td {
    display: block; /* Sel tabel menjadi blok */
    width: 90%; /* Lebar 100% */
    box-sizing: border-box;
    text-align: left;
    border: none; /* Hilangkan border */
  }

  td:before {
    content: attr(data-label); /* Tampilkan label sebagai konten sebelum sel */
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
}
